<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>org.demo.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TimeSeries</servlet-name>
    <servlet-class>org.demo.TimeSeriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logon</servlet-name>
    <servlet-class>org.demo.LogonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Topics</servlet-name>
    <servlet-class>org.demo.TopicsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Proxy</servlet-name>
    <servlet-class>org.demo.ProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TimeSeries</servlet-name>
    <url-pattern>/timeseries/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logon</servlet-name>
    <url-pattern>/authenticate/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Topics</servlet-name>
    <url-pattern>/topics/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Proxy</servlet-name>
    <url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>
</web-app>